#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
  padding: 15px 30px;
  margin: 0 auto 30px auto;
  border-radius: 10px;
  color: black;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

nav a {
  color: black;
  display: inline-block;
  margin: 0 30px;
}

#nc-title {
  left: 50px;
  color: #00bbc9;
}


.article-list {
  margin: 10px;
  justify-content: space-between;
}

body {
  background-color: #dfe2f3;
  margin: 0;
  padding-top: 80px;
}

.article-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.article-list-text {
  flex-basis: 70%;
}

.article-list-img {
  flex-basis: 30%;
  padding-top: 50px
}

#article-list-img {
  max-width: 300px;
  border-radius: 10px;
  padding-right: 30px;
}


.article-card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1.5rem;
}

.article-card h4 {
  margin: 0.5rem 0;
  color: #555;
  font-size: 1.2rem;
}

.article-card p {
  align-items: center;
 }

.article-card .view-article {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #555;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #f3e174;
}

.article-card .view-article:hover {
  background-color: white;
}


@media (max-width: 768px) {
  .article-card {
    flex-direction: column;
    align-items: center;
  }

  #article-list-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .article-list-img {
    padding-top: 0;
  }

  .article-list-text {
    flex-basis: 100%;
    text-align: center;
  }
}

.single-article {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.comment-card {
  background-color: #f5f6ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.topic-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.comment-author {
  font-weight: bold;
  color: #00bbc9;
}

.single-article button {
  margin: 20px;
}

.single-article-img {
  border-radius: 10px;
}

#article-author {
  color: #00bbc9;
}

#topic-link {
  color: #333; 
  text-decoration: none; 
  cursor: pointer;
  transition: color 0.3s ease; 
  background-color: #dfe2f3;
  text-align: center;
}

#topic-link:hover {
  color: #0756be;
  text-decoration: underline;
}

.sort-by-form {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sort-by-form select {
  padding: 8px 12px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  cursor: pointer; 
  transition: border-color 0.3s;
}

.sort-by-form option {
  padding: 10px; 
}

.sort-by-form label {
  margin-right: 10px; 
  font-weight: bold; 
}

.sort-by-form input {
  margin-left: 10px; 
}

.sort-by-form input {
  margin: 10px; 
}

.error-page {
  background-color: #ff9393;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.loading-animation {
  max-width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-content: center;
  padding: 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}